@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@using Helperland.Models;

@model cloudscribe.Pagination.Models.PagedResult<ServiceRequest>
@{
    int i = 0;
}
<div class="row titletext">
    <div class="col-auto">

        Dashboard
    </div>
    <div class="col-auto exportbtn">


        <a class="btn" asp-controller="PublicPages" asp-action="Book_now">Add New Service Request</a>
    </div>
</div>

<table class="table" id="servicetable">
    <thead class="table-success">

        <tr>
            <th>Service ID</th>
            <th>Service date </th>
            <th>Service Provider</th>
            <th>Payment</th>
            <th>Action</th>
        </tr>

    </thead>
    @if (Model == null)
    {
        <b>no items found</b>
    }
    else
    {
        @foreach (ServiceRequest serviceRequest in Model.Data)
        {
            var serviceDateTime = serviceRequest.ServiceStartDate;
            var startdate = serviceDateTime.ToString("d").Replace("-", "/");
            var starttime = serviceDateTime.ToString("t");

            var finishtime = serviceDateTime.AddHours(serviceRequest.ServiceHours).ToString("t");


            <tbody>
                <tr>
                    <td class="serviceid" data-id="@serviceRequest.ServiceRequestId" data-prompt="1" onclick="GetServiceDetails(this)" id="ServideId">
                        <a class="showdetails">@serviceRequest.ServiceRequestId</a>
                    </td>
                    <td data-id="@serviceRequest.ServiceRequestId" data-prompt="1" onclick="GetServiceDetails(this)">
                        <ul class="servicedate">
                            <li class="date" id="servicedate">@startdate</li>
                            <li class="time" id="servicetime">@starttime - @finishtime</li>
                        </ul>
                    </td>
                    <td>
                        <div class="row cap-1">
                            @if (serviceRequest.ServiceProviderName != null)
                            {

                                <div class="col-auto cap-2">
                                    @*<img src="~/assets/cap.png" alt="" class="cap-customer-history">*@
                                    @if (ViewBag.profilepicture[i] == null)
                                    {
                                        <img class="cap-customer-history" src="~/assets/avatar-hat.png" alt="cust1 cust1">
                                    }
                                    @if (ViewBag.profilepicture[i] == "1")
                                    {

                                        <img class="cap-customer-history" src="~/assets/avatar-car.png">
                                    }
                                    @if (ViewBag.profilepicture[i] == "2")
                                    {

                                        <img class="cap-customer-history" src="~/assets/avatar-female.png">
                                    }
                                    @if (ViewBag.profilepicture[i] == "3")
                                    {

                                        <img class="cap-customer-history" src="~/assets/avatar-hat.png">
                                    }
                                    @if (ViewBag.profilepicture[i] == "4")
                                    {

                                        <img class="cap-customer-history" src="~/assets/avatar-iron.png">
                                    }
                                    @if (ViewBag.profilepicture[i] == "5")
                                    {

                                        <img class="cap-customer-history" src="~/assets/avatar-male.png">
                                    }
                                    @if (ViewBag.profilepicture[i] == "6")
                                    {

                                        <img class="cap-customer-history" src="~/assets/avatar-ship.png">
                                    }
                                </div>
                                <div class="col-auto cap-3">
                                    @serviceRequest.ServiceProviderName
                                    <br>
                                    @{
                                        int totalstars = Convert.ToInt32(serviceRequest.ratings);
                                        int stars = 5 - totalstars;
                                        for (int p = 1; p <= totalstars; p++)
                                        {
                                            <img src="~/assets/yellow-small-star.png" alt="">
                                        }
                                        for (int j = 1; j <= stars; j++)
                                        {

                                            <img src="~/assets/star2.png" alt="">
                                        }
                                        @totalstars
                                    }
                                </div>
                            }
                        </div>



                    </td>
                    <td class="text-center payment">@serviceRequest.TotalCost € </td>

                    <td class="text-right btn-list">
                        <a class="btn btn-primary btn-rounded" data-id="@serviceRequest.ServiceRequestId" data-prompt="2" onclick="GetServiceDetails(this)" style="cursor: pointer" title="Reschedule">Reschedule</a>

                        <a class="btn btn-danger btn-rounded" data-id="@serviceRequest.ServiceRequestId" data-prompt="3" onclick="GetServiceDetails(this)" style="cursor: pointer" title="Cancel">Cancel</a>

                    </td>
                </tr>
            </tbody>
            i = i + 1;
        }
    }

</table>


<div class="row bottom">

    <div class="col-auto ">
        show
        <select class="form-control entry" value="@Model.PageSize" onchange="dashchangepagesize()" id="quantity">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
        Entries total record: @Model.TotalItems

    </div>
    <div class="end col-auto">

        <cs-pager cs-paging-pagenumber="@Model.PageNumber"
                  cs-paging-totalitems="@Model.TotalItems"
                  cs-paging-pagesize="@Model.PageSize"
                  cs-pagenumber-param="pagenumber"
                  asp-controller="User"
                  asp-action="Customerpage"
                  cs-ajax-target="#dashboard"></cs-pager>
    </div>
</div>



